
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}
div>span{
    color:white;
}
.green-online{
    color:rgb(16, 228, 16);
    text-shadow: 
        0 0 5px #ffffff,
        0 0 15px #8aff66,
        0 0 30px #00ff22;
}
.blinking-cursor {
    font-weight: bold;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}